<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Contact Form</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>
    <div class="maincontainer">
        <div class="container">
            <form action="/contact" method="post" class="myform">
                <h1 id="header">Fill The Form Below</h1>
                <input type="text" class="myinput" name="name" placeholder="Enter Your Name">
                <input type="text" class="myinput" name="age" placeholder="Enter Your Age">
                <input type="text" class="myinput" name="gender" placeholder="Enter Your Gender">
                <input type="text" class="myinput" name="location" placeholder="Enter Your location">
                <input type="text" class="myinput" name="description" placeholder="Enter Your Description">
                <div id="btnHolder">
                    <button class="boto">Submit</button>
                </div>
            </form>
        </div>
        <div id="svg">
            <img id="svgi" src="static\img\Online Courses.svg" alt="">
        </div>
    </div>
    <footer id="footer">Copyright &#169; 2002&#x2013;2022 Magic Contact By Arindam</footer>
</body>


</html>