<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Of Web</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="stylesheet" href="/static/homepage.css">
    <link rel="icon" type="image/x-icon" href="/static/img/icon.ico">
</head>

<body>
    <div class="boxc">
        <ul class="box">
            <img src="static/img/logo.svg" alt="" id="logo" srcset="">
            <li class="listItem" id="index-1"> <a href="/" style="text-decoration:none; color: white">Home Page</a></li>
            <li class="listItem" id="index-2"><a href="" style="text-decoration:none; color: white">About Us</a></li>
            <li class="listItem" id="index-3"><a href="/contact" style="text-decoration:none; color: white">Contact Us</a></li>
            <li class="listItem" id="index-5"><a href="" style="text-decoration:none; color: white">Email Us</a></li>
            <li class="listItem" id="index-6"><a href="https://magic-notes-project.pages.dev/" style="text-decoration:none; color: white">Notes App</a></li>
            <input class="search" type="text" placeholder="Search Here">
        </ul>
    </div>
    <div class="src">
        <div class="con" id="num-1">
            <div class="con1" id="hor-1">
                <p id="para1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus reprehenderit nisi corporis deleniti animi autem in a maxime non eius delectus fugit, alias sequi voluptates ex explicabo repellendus quod molestiae, minus ab? Cumque libero quod aspernatur
                    fuga magnam consectetur suscipit at quae, cupiditate vero nulla, a quaerat tempore eos soluta.
                </p>
            </div>
            <div class="con1" id="hor-2">
                <img id="hor-img" src="static\img\character 5.svg" alt="" srcset="">
            </div>
        </div>
        <hr>
        <div class="con" id="num-2">
            <h1 id="motoh">Our Moto</h1>
            <div class="motocon">
                <div class="cards">
                    <h2 class="conhead">Spotlight</h2>
                    <div class="logocon">
                        <p>Enter Moto Here for more of the new contet present in the new area</p>
                        <img class="cardimg" src="static\img\con1.svg" alt="" srcset="">
                    </div>
                </div>
                <div class="cards">
                    <h2 class="conhead">Analysis</h2>
                    <div class="logocon">
                        <p>Enter Moto Here for more of the new contet present in the new area</p><img class="cardimg" src="static\img\con2.svg" alt="" srcset="">
                    </div>
                </div>
                <div class="cards">
                    <h2 class="conhead">Explore</h2>
                    <div class="logocon">
                        <p>Enter Moto Here for more of the new contet present in the new area</p>
                        <img class="cardimg" src="static\img\con3.svg" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="con" id="num-3"></div>
        <div class="con" id="num-4"></div>
    </div>
    <footer id="footer">Copyright &#169; 2002&#x2013;2022 Magic Contact By Arindam</footer>
</body>

</html>